<a href="https://colab.research.google.com/github/kduy1411/Python/blob/main/Lab02/Lab02-ch%C6%B0%C6%A1ng8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 kingdoms = ['Bacteria', 'Protozoa', 'Chromista', 
'Plantae', 'Fungi','Animalia']

bt1

In [ ]:
#1a
print("kingdoms[0]: ",kingdoms[0])
#1b
print("kingdoms[5]: ",kingdoms[5])
#1c
print("kingdoms[:3]: ",kingdoms[:3])
#1d
print("kingdoms[2:5]: ",kingdoms[2:5])
#1e
print("kingdoms[4:]: ",kingdoms[4:])
#1f
print("kingdoms[1:0]: ",kingdoms[1:0])

kingdoms[0]:  Bacteria
kingdoms[5]:  Animalia
kingdoms[:3]:  ['Bacteria', 'Protozoa', 'Chromista']
kingdoms[2:5]:  ['Chromista', 'Plantae', 'Fungi']
kingdoms[4:]:  ['Fungi', 'Animalia']
kingdoms[1:0]:  []

bt2

In [ ]:
#2a
print("kingdoms[-6]: ",kingdoms[-6])
#2b
print("kingdoms[-1]: ",kingdoms[-1])
#2c
print("kingdoms[-6:-3]: ",kingdoms[-6:-3])
#2d
print("kingdoms[-4:-1]: ",kingdoms[-4:-1])

kingdoms[-6]:  Bacteria
kingdoms[-1]:  Animalia
kingdoms[-6:-3]:  ['Bacteria', 'Protozoa', 'Chromista']
kingdoms[-4:-1]:  ['Chromista', 'Plantae', 'Fungi']

bt3

In [1]:
appointments = ['9:00', '10:30', '14:00', '15:00', '15:30']
appointments.append('16:30')
appointments

['9:00', '10:30', '14:00', '15:00', '15:30', '16:30']

bt4

In [3]:
ids =[4353, 2314, 2956, 3382, 9362, 3900]
#4a 
ids.remove(3382)
print(ids)
#4b
ids.index(9362)
print(ids)
#4c 
ids.insert(ids.index(9362) + 1, 4499)
print(ids)
#4d
ids = ids + [5566, 1830]
print(ids)
#4e. 
ids.reverse()
print(ids)
#4f 
ids.sort()
print(ids)

[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 4499, 3900]
[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]
[1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]
[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

bt5

In [4]:
alkaline_earth_metals = ['metalsâ€”beryllium','magnesium', ' calcium',' strontium','barium','radium']
#5a
alkaline_earth_metals = [4, 12, 20, 38, 56, 88]
#5b 
print(alkaline_earth_metals[5], alkaline_earth_metals[-1])
#5c 
print(len(alkaline_earth_metals))
#5d
print(max(alkaline_earth_metals))

88 88
6
88

bt6

In [5]:
#6a
temps = [25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
print(temps)
#6b
temps.sort()
print(temps)
#6c
cool_temps = temps[0:2]
print(cool_temps)
warm_temps = temps[2:]
print(warm_temps)
#6d 
temps_in_celsius = cool_temps + warm_temps
print(temps_in_celsius)

[25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6]
[22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

bt7

In [6]:
def same_first_last(L : list ) -> bool:
  if len(L) >= 2 and L[0] == L[-1]:
    print(True)
  else:
    print(False)

same_first_last([3, 4, 2, 8, 3])
same_first_last(['apple', 'banana', 'pear'])
same_first_last([4.0, 4.5])

True
False
False

bt8

In [7]:
def is_longer(L1: list, L2: list) -> bool:
  if len(L1) > len(L2):
    print(True)
  else:
    print(False)
is_longer([1, 2, 3], [4, 5])
is_longer(['abcdef'], ['ab', 'cd', 'ef'])
is_longer(['a', 'b', 'c'], [1, 2, 3])

True
False
False

bt9

In [8]:
values = [0, 1, 2]
values[1] = values

bt10

In [9]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#10a
print(units[0])
#10b 
print(units[-1] or units[1])
#10c 
print(units[0][0])
#10d 
print(units[1][0])
#10e
print(units[0][1:])
#10f
print(units[1][0:2])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

bt11

In [ ]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#11a
print(units[-2])
#11b
print(units[-1])
#11c. 
print(units[-2][-3])
#11d
print(units[-1][-3])
#11e
print(units[-2][-2:])
#11f 
print(units[-1][:-1])