<a href="https://colab.research.google.com/github/kduy1411/Python/blob/main/Lab01/Lab01_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bt1

In [1]:
a1 = min(2,3,4)
print(a1)
a2 = max(2,-3,4,7,-5)
print(a2)
a3 = max(2,-3,min(4,7),5)
print(a3)

2
7
5

bt2

In [2]:
a1 = min(max(3, 4), abs(-5))
print(a1)
a2 = abs(min(4, 6, max(2, 8)))
print(a2)
a3 = round(max(5.572, 3.258), abs(-2))
print(a3)

4
4
5.57

bt3

In [3]:
def triple(num):
  return num * 3
print((triple(2)))

6

bt4

In [4]:
def absolute_difference(number1, number2):
    return int(abs(number1 - number2))
print(absolute_difference(3,7))

4

bt5

In [5]:
def km_to_miles(km):
 return km / 1.6
print(km_to_miles(2))

1.25

bt6

In [6]:
def average_grade(grade1, grade2, grade3):
 return (grade1 + grade2 + grade3) / 3
print(average_grade(10, 5, 2))

5.666666666666667

bt7

In [7]:
def top_three_avg(grade1, grade2, grade3, grade4):
 total = grade1 + grade2 + grade3 + grade4
 top_three = total - min(grade1, grade2, grade3, grade4)
 return top_three / 3
 return max(average_grade(grade1, grade2, grade3),
 average_grade(grade1, grade2, grade4),
 average_grade(grade1, grade3, grade4),
 average_grade(grade2, grade3, grade4))
 return (grade1 + grade2 + grade3) / 3
print(top_three_avg(15, 14, 20, 31))

22.0

bt8

In [8]:
def weeks_elapsed(day1, day2):
    return int(abs((day1-day2)/7))
print(weeks_elapsed(2,11))

1

bt9

In [9]:
def square(num):
    return int(num**2)
print(square(5))

25