<a href="https://colab.research.google.com/github/kduy1411/Python/blob/main/Lab05/Lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bt1

In [ ]:
from Country import Country

In [ ]:
#cau 1a
canada = Country('Canada', 34482779, 9984670)
print('canada.name ->',canada.name)
print('canada.population ->',canada.population)
print('canada.area ->',canada.area)

In [ ]:
#cau 1b
canada = Country('Canada', 34482779, 9984670)
usa = Country('United States of America', 313914040, 9826675)
print('canada.is_larger(usa) -> ',canada.is_larger(usa))

In [ ]:
#cau 1c
print('canada.population_density() ->', canada.population_density())

In [ ]:
#cau 1d
usa = Country('United States of America', 313914040, 9826675)
print('usa ->',usa)

In [ ]:
#cau 1e
canada = Country('Canada', 34482779, 9984670)
canada
print(canada)
[canada]
print([canada])

bt2

In [ ]:
from Continent import Continent
from Country import Country

In [ ]:
#cau 2a
canada = Country('Canada', 34482779, 9984670)
usa = Country('United States of America', 313914040,9826675)
mexico = Country('Mexico', 112336538, 1943950)

countries = [canada, usa , mexico]
north_america = Continent('North America', countries)

for country in north_america.countries:
    print(country)

In [ ]:
#cau 2b
print(north_america.total_population())

In [ ]:
#cau 2c
print(north_america)

bt3

In [ ]:
from Student import Student

In [ ]:
student1 = Student("Nguyen Khuong Duy","TP.HCM","khuong1411@gmail.com",3112)
print(student1)

In [ ]:
student1.courses_taken = ["Python","OOP"]
print(student1)

In [ ]:
student1.courses_taking = ["Advanced python programming"]
print(student1)

bt4

In [ ]:
from Nematode import Nematode

In [ ]:
nematode1 = Nematode("1","male","4",)
print(nematode1)

bt5

In [ ]:
from Point import Point
from Point import LineSegment

In [ ]:
segment = LineSegment(Point(1, 1), Point(3, 2))
segment.slope()

In [ ]:
segment.length()